@import 'BootstrapSCSS/bootstrap.scss';
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:700|Ubuntu:500,700');
$bodyColor: #fff;

$shadows: (large: 0 1rem 3rem rgba(0, 0, 0, .175), regular: 0 .5rem 1rem rgba(0, 0, 0, .15), small: 0 .125rem .25rem rgba(0, 0, 0, .075));

$colors: (primary: (base: rgba(255, 105, 1, 1), light: lighten(rgba(255, 105, 1, 1), 15%), dark: darken(rgba(255, 105, 1, 1), 15%), trans: transparentize(rgba(255, 105, 1, 1), 0.5), extratrans: transparentize(rgba(255, 105, 1, 1), 0.8)), secondary: (base: rgba(238, 11, 119, 1), light: lighten(rgba(238, 11, 119, 1), 15%), dark: darken(rgba(238, 11, 119, 1), 15%), trans: transparentize(rgba(238, 11, 119, 1), 0.5), extratrans: transparentize(rgba(238, 11, 119, 1), 0.8)));


@function color($color-name, $color-variant) {
    @return map-get(map-get($colors, $color-name), $color-variant);
}

@function shadow($shadow-name) {
    @return map-get($shadows, $shadow-name);
}

$bodyGradient: linear-gradient(130deg, color(secondary, base) 0%, color(primary, base) 100%);
$bodyRadialGradient: radial-gradient(circle at top 3rem left 3rem, rgba(239, 11, 121, 0.7), rgba(252, 29, 96, 0.7), rgba(255, 56, 73, 0.7), rgba(255, 81, 46, 0.7), rgba(255, 106, 0, 0.7));
// جعل كل عنصر في الصفحة ينتهي محتواه عند حَده بدلاً من خارج حافته
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

$bodyFont: 'Ubuntu', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

$headingFont: 'Ubuntu Mono', SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;



:root {
    --bodyWidth: calc(100vw - var(--browserScroll));
    --sidenav--width: 3.5em;
    --sidenav--height: calc(100vh - var(--header--height));
    --header--height: 5em;
    --browserScroll: 17px;
    --landing--width: calc(100vw - (var(--sidenav---width) + var(--browserScroll)));
    --landing--height: 40vh;
    --footer--height: max-content;
}

@mixin for-phone-only {
    @media (max-width: 599px) {
        @content;
    }
}

@mixin for-tablet-portrait-up {
    @media (min-width: 600px) {
        @content;
    }
}

@mixin for-tablet-landscape-up {
    @media (min-width: 900px) {
        @content;
    }
}

@mixin for-desktop-up {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin for-big-desktop-up {
    @media (min-width: 1800px) {
        @content;
    }
}

body,
html {
    // التخلص من المساحة الفارغة من المتصفح
    margin: 0;
    // وضع أبعاد الصفحة
    height: auto;
    width: var(--bodyWidth);
    // اخفاء أي محتويات تخرج عن محتوي الصفحة بالعرض
    // تخديد لون خلفية الصفحة
    background: $bodyColor;
    //تحديد نوع الخط
    font-family: $bodyFont;
    // تخديد المسافة بين الحرف و الحرف بالطول
    line-height: 1.43;
    font-weight: 500;
}

form {
    width: var(--bodyWidth);
}

.site__container {
    // عمل مواقع للصفحة الاساسية
    display: grid;
    //عمل هيكلة الصفحة مع وضع أبعاد كل موقع
    grid-template: "Header Header" var(--header--height) "SideNav Landing" var(--landing--height) "SideNav Content" 1fr "SideNav Footer" var(--footer--height) / var(--sidenav--width) 1fr;
    min-height: 100vh;
    width: var(--bodyWidth);
    max-width: var(--bodyWidth);
}




.header {
    grid-area: Header;
    display: grid;
    grid-template: "Toggle Brand Search Profile"/ var(--sidenav--width) 0.5fr 1fr 0.5fr;
    width: 100%;
    height: var(--header--height);
    background: $bodyColor;
    place-items: center;
    box-shadow: shadow(regular);

    &--top {
        position: sticky;
        top: 0;
        z-index: 1000;
    }

    &__button {
        grid-area: Toggle;
        border: none;
        box-shadow: none;
        background: none;
        display: inline-flex;
        justify-content: center;
    }

    &__svg {
        width: 100%;

        @include for-phone-only {
            width: 60%;
        }
    }

    &__svg--small {
        width: 100%;
        height: 100%;
        opacity: 0.5;
        transition: opacity 0.15s ease-in-out;

        &:hover {
            filter: contrast(150%);
            opacity: 1;
        }
    }


    &__brand {
        grid-area: Brand;
        background: $bodyGradient;
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        font-family: $headingFont;
        font-size: 2rem;

        @include for-phone-only {
            font-size: 1.2rem;
        }

        &:hover {
            color: transparent;
        }
    }

    &__searchContainer {
        grid-area: Search;
        width: 60%;
        height: 50%;
        position: relative;

        @include for-phone-only {
            width: 95%;
            height: 40%;
        }
    }

    &__searchInput {
        border-color: color(secondary, extratrans);
        width: 100%;
        height: 100%;
        padding-left: 1em;
        border-radius: 1.2em;

        @include for-phone-only {
            padding-left: 0.5em;
            font-size: 0.6rem
        }

        &::placeholder {
            color: color(secondary, trans);

            @include for-phone-only {
                font-size: 0.6rem
            }
        }

        &:focus {
            color: color(secondary, base);
            border-color: color(primary, base);
            box-shadow: 0 0 3px .1rem rgba(255, 105, 1, 0.4);

            @include for-phone-only {
                font-size: 0.6rem; 
                box-shadow: 0 0 2px .05rem rgba(255, 105, 1, 0.4);
            }
        }
    }

    &__searchIcon {
        width: 1.2em;

        @include for-phone-only {
            width: 0.7rem;
        }
    }

    &__searchIcon--middle-right {
        position: absolute;
        top: 50%;
        right: 1em;
        transform: translateY(-55%);

        @include for-phone-only {
            right: 0.5em;
            transform: translateY(-60%);
        }
    }



    &__items {
        grid-area: Profile;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0 2em;
        list-style: none;
        text-transform: uppercase;
        margin: 0;

        @include for-phone-only {
            padding: 0 1em;
        }
    }

    &__item {
        padding-right: 1em;

        @include for-phone-only {
            padding-right: 0.5em;
        }
    }

    &__item--last {
        display: block;
        padding-right: 0;
        color: color(secondary, base);
        font-size: 0.9em;
        font-weight: 500;
        width: max-content;

        @include for-phone-only {
            font-size: 0.5em;
        }
    }

    &__anchor {
        font-weight: bold;

        &:hover, &:focus {
            color: color(secondary, base);
        }
    }
}

.sidenav {
    grid-area: SideNav;
    display: flex;
    width: var(--sidenav--width);
    height: var(--sidenav--height);
    background-image: radial-gradient(circle at top 3rem left 3rem, rgba(239, 11, 121, 1), rgba(252, 29, 96, 1), rgba(255, 56, 73, 1), rgba(255, 81, 46, 1), rgba(255, 106, 0, 1));
    background-position: center;
    background-size: 200%;
    box-shadow: shadow(regular);
    list-style: none;
    padding: 1em 0;

    @include for-phone-only {
        padding: 0.5em 0;
    }

    &--left {
        position: fixed;
        left: 0;
        top: var(--header--height);
        z-index: 999;
    }

    &--vertical {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    &__item {
        padding-top: 4em;

        @include for-phone-only {
            padding-top: 1em;
        }
    }

    &__item--last {
        padding-top: 4em;
        padding-bottom: 4em;

        @include for-phone-only {
            padding-top: 1em;
            papdding-bottom: 1em;
        }
    }

    &__svg {
        width: 2em;

        @include for-phone-only {
            width: 1em;
        }

        & path {
            fill: white;
        }
    }
}

.landing {
    grid-area: Landing;
    width: var(--landing--width);
    height: var(--landing--height);
    background: url('img/LandingBackground.png');
    background-position: center top;
    background-size: cover;
    overflow: hidden;

    &__overlay {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-image: radial-gradient(circle at top 3rem left 3rem, rgba(239, 11, 121, 0.7), rgba(252, 29, 96, 0.7), rgba(255, 56, 73, 0.7), rgba(255, 81, 46, 0.7), rgba(255, 106, 0, 0.7));
    }

    &__heading {
        max-width: 60%;
        text-transform: uppercase;
        color: white;
        text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.5);
        font-weight: bold;
        font-size: 1.9em;
        line-height: 1.45;
        text-align: center;
        font-family: $headingFont;
        @include for-phone-only {
            font-size: 0.8rem;
            max-width: 80%;
        }
    }

    &__button--bottom-right {
        position: absolute;
        right: 2%;
        bottom: 5%;
        font-size: 1em;
    }
}


.footer {
    grid-area: Footer;
    width: var(--landing--width);
    height: var(--footer--height);
    background-image: url(img/FooterBackground.png);
    background-position: center;
    margin-top: var(--header--height);

    &__overlay {
        padding-top: 1em;
        width: 100%;
        height: 100%;
        max-height: 100%;
        background-image: radial-gradient(circle at top 3rem right 3rem, rgba(239, 11, 121, 0.7), rgba(252, 29, 96, 0.7), rgba(255, 56, 73, 0.7), rgba(255, 81, 46, 0.7), rgba(255, 106, 0, 0.7));;
        display: grid;
        place-items: center;
        grid-template: "leftLine footerBrand rightLine" max-content "leftItems socialMedia rightItems" max-content / 0.6fr auto 0.6fr;
        @include for-phone-only {
            padding-top: 0.5em;
        }
    }

    &__line {
        border: 2px solid white !important;
        box-shadow: shadow(large);
        border-radius: 100px;
        width: 90%;
        margin: 0;
        @include for-phone-only {
            border: 1px solid white !important;
        }

        &--right {
            grid-area: rightLine;
        }

        &--left {
            grid-area: leftLine;
        }
    }

    &__brand {
        background: linear-gradient(to left bottom, #ee0b77, #fb1d61, #ff3749, #ff502f, #ff6901);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        font-size: 3rem;
        font-weight: 700;
        text-shadow: #fff -2px -1px 1px;
        margin: 0;
        @include for-phone-only {
            font-size: 1.5rem;
        }

        &--middle {
            grid-area: footerBrand;
        }
    }

    &__items {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        font-size: 1.4em;
        color: rgba(255, 255, 255, 1);
        opacity: 1;
        font-weight: bold;
        @include for-phone-only {
            font-size: 0.8rem;
        }
        &--right {
            grid-area: rightItems;
        }

        &--left {
            grid-area: leftItems;
        }

        &--middle {
            grid-area: socialMedia;
            display: flex;
            flex-direction: row;
            padding: 0;
            margin: 0;
        }
    }

    &__item {
        opacity: 0.5;
        transition: opacity 250ms ease-in-out;
        margin-bottom: 1em;
        @include for-phone-only {
            margin-bottom: 0.5em;
        }
        &--middle {
            margin-bottom: 0;
            margin-right: 1em;

        }
        &--last {
            margin-bottom: 0;
            margin-right: 0;
        }
        &:hover {
            opacity: 1;
        }
    }
    &__svg {
        width: 1.6em;
    }
}

// Default.aspx

.videos {
    grid-area: Content;
    display: grid;
    grid-template: "NewVideos"1fr "PopularVideos"1fr / 1fr;
    width: var(--landing--width);
    padding: 0 2em;
    margin: 0 auto;

    @include for-phone-only {
        padding: 0 1em;
    }

    &__newVideos {
        grid-area: NewVideos;
        width: 100%;
        display: grid;
        grid-template: "Divider Divider Divider Divider" auto "Caption Caption Caption Caption" auto "Video1 Video2 Video3 Video4" 1fr "Video5 Video6 Video7 Video8" 1fr / 1fr 1fr 1fr 1fr;
        grid-gap: 1em;

        @include for-phone-only {
            grid-template: "Divider ." auto "Caption ." auto "Video1 Video2" 1fr "Video3 Video4" 1fr "Video5 Video6" 1fr "Video7 Video8" 1fr / 1fr 1fr;
            grid-template-areas: "Divider Divider" "Caption Caption" "Video1 Video2" "Video3 Video4" "Video5 Video6" "Video7 Video8";
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto auto repeat(4, 1fr);
        }
    }

    &__popularVideos {
        grid-area: PopularVideos;
        width: 100%;
        display: grid;
        grid-template: "Divider Divider Divider Divider" auto "Caption Caption Caption Caption" auto "Video1 Video2 Video3 Video4" 1fr "Video5 Video6 Video7 Video8" 1fr / 1fr 1fr 1fr 1fr;
        grid-gap: 1em;

        @include for-phone-only {
            grid-template: "Divider Divider" auto "Caption Caption" auto "Video1 Video2" 1fr "Video3 Video4" 1fr "Video5 Video6" 1fr "Video7 Video8" 1fr / 1fr 1fr;
        }
    }

    &__divider {
        grid-area: Divider;
        margin-top: 1em;
        margin-bottom: 0;
        border: 1px solid rgba(238, 11, 119, 1);
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

        @include for-phone-only {
        }
    }

    &__caption {
        background: $bodyGradient;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        font-weight: bold;
        font-size: 1.5em;


        @include for-phone-only {
            font-size: 1rem;
        }

        &--container {
            grid-area: Caption;
        }
    }

    &__cards {
        display: grid;
        grid-template: "Thumb" max-content "Info" max-content / 1fr;

        @extend .embed-responsive, .embed-responsive-16by9;
    }

    &__thumb {
        grid-area: Thumb;
        object-fit: cover;
        object-position: center;
        @extend .embed-responsive-item;
    }

    &__info {
        font-size: 0.8rem;
        display: flex;
        flex-direction: column;
        color: rgba(75, 69, 69, 0.89);
        padding-top: 0.25em;
    }

    &__title {
        display: block;
        font-size: 0.9rem;
        color: rgb(37, 37, 37);
        padding-bottom: 0.5em;
        font-weight: 700;
        flex: 2;

        @include for-phone-only {
            font-size: 0.8rem;
        }
    }

    &__stats {
        display: grid;
        grid-template: "Views Date" 1fr / 1fr 1fr;
    }

    &__views {
        grid-area: Views;
    }

    &__date {
        grid-area: Date;
        text-align: right;
    }
}

.global__button {
    text-transform: uppercase;
    font-weight: bold;
    padding: 0.4em 1.2em;
    border: 1px solid color(secondary, trans);
    background: $bodyGradient;
    color: white;
    font-size: 1em;
    border-radius: 1em;
    box-shadow: 0 1px 5px 0.1rem color(secondary, extratrans);
    transition: box-shadow 0.2s ease-in-out;
    display: inline-flex;

    @include for-phone-only {
        font-size: 0.6em;
        box-shadow: 0 1px 3px 0.1rem color(secondary, extratrans);
    }

    &:hover, &:focus {
        text-decoration: none;
        color: white;
        box-shadow: 0 1px 5px 0.1rem color(primary, extratrans);

        @include for-phone-only {
            box-shadow: 0 1px 3px 0.1rem color(primary, extratrans);
        }
    }
}

.global__input {
    @extend .form-control;
    color: color(secondary, trans);
    text-align: left;
    transition: color 0.15s ease-in, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

a {
    text-decoration: none;
    color: unset;

    &:hover {
        text-decoration: none;
    }
}


@media (max-width: 599px) {
    :root {
        --bodyWidth: calc(100vw - var(--browserScroll));
        --sidenav--width: 2em;
        --sidenav--height: calc(100vh - var(--header--height));
        --header--height: 3em;
        --browserScroll: 0;
        --landing--width: calc(100vw - (var(--sidenav---width) + var(--browserScroll)));
        --landing--height: 30vh;
        --footer--height: max-content;
    }
}