body main .popular-videos {
    -ms-grid-column: 2;
    -ms-grid-row: 2;
    -ms-grid-rows: auto;
    display: -ms-grid;
    display: grid;
    grid-area: NewVideos;
    grid-template-areas: "Divider" "Caption" "Videos";
    grid-template-rows: auto;
    width: 100%;
    height: auto;
    padding: 2em;
    margin: 0 auto;
}

    body main .popular-videos .divider {
        -ms-grid-column: 1;
        -ms-grid-row: 1;
        place-items: center;
        grid-area: Divider;
        width: 100%;
    }

        body main .popular-videos .divider hr {
            overflow: hidden;
            color: rgba(238, 11, 119, 0.5);
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
        }

    body main .popular-videos .section-caption {
        -ms-grid-column: 1;
        -ms-grid-row: 2;
        grid-area: Caption;
    }

        body main .popular-videos .section-caption strong {
            background: linear-gradient(to left bottom, rgba(239, 11, 121, 0.7), rgba(252, 29, 96, 0.7), rgba(255, 56, 73, 0.7), rgba(255, 81, 46, 0.7), rgba(255, 106, 0, 0.7));
            color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 1.5rem;
        }

    body main .popular-videos .video-content {
        -ms-grid-column: 1;
        -ms-grid-row: 3;
        place-items: center;
        display: -ms-grid;
        display: grid;
        grid-area: Videos;
        grid-gap: 1.5rem;
        grid-template-areas: "Video1 Video2 Video3 Video4" "Video5 Video6 Video7 Video8";
        grid-template-rows: repeat(2, 1fr);
        height: 100%;
        padding-top: 1.5rem;
    }

        body main .popular-videos .video-content .video-cards {
            width: 100%;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23), 0 3px 6px rgba(0, 0, 0, 0.23);
        }



            body main .popular-videos .video-content .video-cards:nth-child(1) {
                -ms-grid-column: 1;
                -ms-grid-row: 1;
                grid-area: Video1;
            }

                body main .popular-videos .video-content .video-cards:nth-child(1) .video-info {
                    height: 100%;
                    padding: 0.5em 0.5em;
                    line-height: 1.4em;
                }

                    body main .popular-videos .video-content .video-cards:nth-child(1) .video-info .video-title {
                        grid-area: Title;
                        overflow-x: hidden;
                        font-weight: 700;
                    }

                    body main .popular-videos .video-content .video-cards:nth-child(1) .video-info .video-author {
                        grid-area: Author;
                        padding-top: 0.5em;
                        padding-bottom: 0.2em;
                        font-size: 0.9em;
                    }

                    body main .popular-videos .video-content .video-cards:nth-child(1) .video-info .counter {
                        -ms-grid-columns: auto;
                        display: -ms-grid;
                        display: grid;
                        grid-area: Counter;
                        grid-template-areas: 'Views Date';
                        grid-template-columns: max-content;
                    }

                        body main .popular-videos .video-content .video-cards:nth-child(1) .video-info .counter .video-views {
                            -ms-flex-align: start;
                            -ms-flex-pack: start;
                            -ms-grid-column: 1;
                            -ms-grid-row: 1;
                            -webkit-box-align: start;
                            -webkit-box-pack: start;
                            display: flex;
                            grid-area: Views;
                            align-items: flex-start;
                            justify-content: flex-start;
                            height: 100%;
                            font-size: 0.8em;
                        }

                        body main .popular-videos .video-content .video-cards:nth-child(1) .video-info .counter .video-date {
                            -ms-flex-align: start;
                            -ms-flex-pack: end;
                            -ms-grid-column: 2;
                            -ms-grid-row: 1;
                            -webkit-box-align: start;
                            -webkit-box-pack: end;
                            display: flex;
                            grid-area: Date;
                            align-items: flex-start;
                            justify-content: flex-end;
                            width: 100%;
                            font-size: 0.8em;
                        }

            body main .popular-videos .video-content .video-cards:nth-child(2) {
                -ms-grid-column: 2;
                -ms-grid-row: 1;
                grid-area: Video2;
            }

                body main .popular-videos .video-content .video-cards:nth-child(2) .video-info {
                    height: 100%;
                    padding: 0.5em 0.5em;
                    line-height: 1.4em;
                }

                    body main .popular-videos .video-content .video-cards:nth-child(2) .video-info .video-title {
                        grid-area: Title;
                        font-weight: 700;
                    }

                    body main .popular-videos .video-content .video-cards:nth-child(2) .video-info .video-author {
                        grid-area: Author;
                        padding-top: 0.5em;
                        padding-bottom: 0.2em;
                        font-size: 1rem;
                        font-size: 0.9em;
                    }

                    body main .popular-videos .video-content .video-cards:nth-child(2) .video-info .counter {
                        -ms-grid-columns: auto;
                        display: -ms-grid;
                        display: grid;
                        grid-area: Counter;
                        grid-template-areas: 'Views Date';
                        grid-template-columns: auto;
                    }

                        body main .popular-videos .video-content .video-cards:nth-child(2) .video-info .counter .video-views {
                            -ms-flex-align: start;
                            -ms-flex-pack: start;
                            -ms-grid-column: 1;
                            -ms-grid-row: 1;
                            -webkit-box-align: start;
                            -webkit-box-pack: start;
                            display: flex;
                            grid-area: Views;
                            align-items: flex-start;
                            justify-content: flex-start;
                            height: 100%;
                            font-size: 0.8em;
                        }

                        body main .popular-videos .video-content .video-cards:nth-child(2) .video-info .counter .video-date {
                            -ms-flex-align: start;
                            -ms-flex-pack: end;
                            -ms-grid-column: 2;
                            -ms-grid-row: 1;
                            -webkit-box-align: start;
                            -webkit-box-pack: end;
                            display: flex;
                            grid-area: Date;
                            align-items: flex-start;
                            justify-content: flex-end;
                            width: 100%;
                            font-size: 0.8em;
                        }

            body main .popular-videos .video-content .video-cards:nth-child(3) {
                -ms-grid-column: 3;
                -ms-grid-row: 1;
                grid-area: Video3;
            }

                body main .popular-videos .video-content .video-cards:nth-child(3) .video-info {
                    height: 100%;
                    padding: 0.5em 0.5em;
                    line-height: 1.4em;
                }

                    body main .popular-videos .video-content .video-cards:nth-child(3) .video-info .video-title {
                        grid-area: Title;
                        font-weight: 700;
                    }

                    body main .popular-videos .video-content .video-cards:nth-child(3) .video-info .video-author {
                        grid-area: Author;
                        padding-top: 0.5em;
                        padding-bottom: 0.2em;
                        font-size: 1rem;
                        font-size: 0.9em;
                    }

                    body main .popular-videos .video-content .video-cards:nth-child(3) .video-info .counter {
                        -ms-grid-columns: auto;
                        display: -ms-grid;
                        display: grid;
                        grid-area: Counter;
                        grid-template-areas: 'Views Date';
                        grid-template-columns: auto;
                    }

                        body main .popular-videos .video-content .video-cards:nth-child(3) .video-info .counter .video-views {
                            -ms-flex-align: start;
                            -ms-flex-pack: start;
                            -ms-grid-column: 1;
                            -ms-grid-row: 1;
                            -webkit-box-align: start;
                            -webkit-box-pack: start;
                            display: flex;
                            grid-area: Views;
                            align-items: flex-start;
                            justify-content: flex-start;
                            height: 100%;
                            font-size: 0.8em;
                        }

                        body main .popular-videos .video-content .video-cards:nth-child(3) .video-info .counter .video-date {
                            -ms-flex-align: start;
                            -ms-flex-pack: end;
                            -ms-grid-column: 2;
                            -ms-grid-row: 1;
                            -webkit-box-align: start;
                            -webkit-box-pack: end;
                            display: flex;
                            grid-area: Date;
                            align-items: flex-start;
                            justify-content: flex-end;
                            width: 100%;
                            font-size: 0.8em;
                        }

            body main .popular-videos .video-content .video-cards:nth-child(4) {
                -ms-grid-column: 4;
                -ms-grid-row: 1;
                grid-area: Video4;
            }

                body main .popular-videos .video-content .video-cards:nth-child(4) .video-info {
                    height: 100%;
                    padding: 0.5em 0.5em;
                    line-height: 1.4em;
                }

                    body main .popular-videos .video-content .video-cards:nth-child(4) .video-info .video-title {
                        grid-area: Title;
                        font-weight: 700;
                    }

                    body main .popular-videos .video-content .video-cards:nth-child(4) .video-info .video-author {
                        grid-area: Author;
                        padding-top: 0.5em;
                        padding-bottom: 0.2em;
                        font-size: 1rem;
                        font-size: 0.9em;
                    }

                    body main .popular-videos .video-content .video-cards:nth-child(4) .video-info .counter {
                        -ms-grid-columns: auto;
                        display: -ms-grid;
                        display: grid;
                        grid-area: Counter;
                        grid-template-areas: 'Views Date';
                        grid-template-columns: auto;
                    }

                        body main .popular-videos .video-content .video-cards:nth-child(4) .video-info .counter .video-views {
                            -ms-flex-align: start;
                            -ms-flex-pack: start;
                            -ms-grid-column: 1;
                            -ms-grid-row: 1;
                            -webkit-box-align: start;
                            -webkit-box-pack: start;
                            display: flex;
                            grid-area: Views;
                            align-items: flex-start;
                            justify-content: flex-start;
                            height: 100%;
                            font-size: 0.8em;
                        }

                        body main .popular-videos .video-content .video-cards:nth-child(4) .video-info .counter .video-date {
                            -ms-flex-align: start;
                            -ms-flex-pack: end;
                            -ms-grid-column: 2;
                            -ms-grid-row: 1;
                            -webkit-box-align: start;
                            -webkit-box-pack: end;
                            display: flex;
                            grid-area: Date;
                            align-items: flex-start;
                            justify-content: flex-end;
                            width: 100%;
                            font-size: 0.8em;
                        }

            body main .popular-videos .video-content .video-cards:nth-child(5) {
                -ms-grid-column: 1;
                -ms-grid-row: 2;
                grid-area: Video5;
            }


                body main .popular-videos .video-content .video-cards:nth-child(5) .video-info {
                    height: 100%;
                    padding: 0.5em 0.5em;
                    line-height: 1.4em;
                }

                    body main .popular-videos .video-content .video-cards:nth-child(5) .video-info .video-title {
                        grid-area: Title;
                        font-weight: 700;
                    }

                    body main .popular-videos .video-content .video-cards:nth-child(5) .video-info .video-author {
                        grid-area: Author;
                        padding-top: 0.5em;
                        padding-bottom: 0.2em;
                        font-size: 1rem;
                        font-size: 0.9em;
                    }

                    body main .popular-videos .video-content .video-cards:nth-child(5) .video-info .counter {
                        -ms-grid-columns: auto;
                        display: -ms-grid;
                        display: grid;
                        grid-area: Counter;
                        grid-template-areas: 'Views Date';
                        grid-template-columns: auto;
                    }

                        body main .popular-videos .video-content .video-cards:nth-child(5) .video-info .counter .video-views {
                            -ms-flex-align: start;
                            -ms-flex-pack: start;
                            -ms-grid-column: 1;
                            -ms-grid-row: 1;
                            -webkit-box-align: start;
                            -webkit-box-pack: start;
                            display: flex;
                            grid-area: Views;
                            align-items: flex-start;
                            justify-content: flex-start;
                            height: 100%;
                            font-size: 0.8em;
                        }

                        body main .popular-videos .video-content .video-cards:nth-child(5) .video-info .counter .video-date {
                            -ms-flex-align: start;
                            -ms-flex-pack: end;
                            -ms-grid-column: 2;
                            -ms-grid-row: 1;
                            -webkit-box-align: start;
                            -webkit-box-pack: end;
                            display: flex;
                            grid-area: Date;
                            align-items: flex-start;
                            justify-content: flex-end;
                            width: 100%;
                            font-size: 0.8em;
                        }

            body main .popular-videos .video-content .video-cards:nth-child(6) {
                -ms-grid-column: 2;
                -ms-grid-row: 2;
                grid-area: Video6;
            }


                body main .popular-videos .video-content .video-cards:nth-child(6) .video-info {
                    height: 100%;
                    padding: 0.5em 0.5em;
                    line-height: 1.4em;
                }

                    body main .popular-videos .video-content .video-cards:nth-child(6) .video-info .video-title {
                        grid-area: Title;
                        font-weight: 700;
                    }

                    body main .popular-videos .video-content .video-cards:nth-child(6) .video-info .video-author {
                        grid-area: Author;
                        padding-top: 0.5em;
                        padding-bottom: 0.2em;
                        font-size: 1rem;
                        font-size: 0.9em;
                    }

                    body main .popular-videos .video-content .video-cards:nth-child(6) .video-info .counter {
                        -ms-grid-columns: auto;
                        display: -ms-grid;
                        display: grid;
                        grid-area: Counter;
                        grid-template-areas: 'Views Date';
                        grid-template-columns: auto;
                    }

                        body main .popular-videos .video-content .video-cards:nth-child(6) .video-info .counter .video-views {
                            -ms-flex-align: start;
                            -ms-flex-pack: start;
                            -ms-grid-column: 1;
                            -ms-grid-row: 1;
                            -webkit-box-align: start;
                            -webkit-box-pack: start;
                            display: flex;
                            grid-area: Views;
                            align-items: flex-start;
                            justify-content: flex-start;
                            height: 100%;
                            font-size: 0.8em;
                        }

                        body main .popular-videos .video-content .video-cards:nth-child(6) .video-info .counter .video-date {
                            -ms-flex-align: start;
                            -ms-flex-pack: end;
                            -ms-grid-column: 2;
                            -ms-grid-row: 1;
                            -webkit-box-align: start;
                            -webkit-box-pack: end;
                            display: flex;
                            grid-area: Date;
                            align-items: flex-start;
                            justify-content: flex-end;
                            width: 100%;
                            font-size: 0.8em;
                        }

            body main .popular-videos .video-content .video-cards:nth-child(7) {
                -ms-grid-column: 3;
                -ms-grid-row: 2;
                grid-area: Video7;
            }


                body main .popular-videos .video-content .video-cards:nth-child(7) .video-info {
                    height: 100%;
                    padding: 0.5em 0.5em;
                    line-height: 1.4em;
                }

                    body main .popular-videos .video-content .video-cards:nth-child(7) .video-info .video-title {
                        grid-area: Title;
                        font-weight: 700;
                    }

                    body main .popular-videos .video-content .video-cards:nth-child(7) .video-info .video-author {
                        grid-area: Author;
                        padding-top: 0.5em;
                        padding-bottom: 0.2em;
                        font-size: 1rem;
                        font-size: 0.9em;
                    }

                    body main .popular-videos .video-content .video-cards:nth-child(7) .video-info .counter {
                        -ms-grid-columns: auto;
                        display: -ms-grid;
                        display: grid;
                        grid-area: Counter;
                        grid-template-areas: 'Views Date';
                        grid-template-columns: auto;
                    }

                        body main .popular-videos .video-content .video-cards:nth-child(7) .video-info .counter .video-views {
                            -ms-flex-align: start;
                            -ms-flex-pack: start;
                            -ms-grid-column: 1;
                            -ms-grid-row: 1;
                            -webkit-box-align: start;
                            -webkit-box-pack: start;
                            display: flex;
                            grid-area: Views;
                            align-items: flex-start;
                            justify-content: flex-start;
                            height: 100%;
                            font-size: 0.8em;
                        }

                        body main .popular-videos .video-content .video-cards:nth-child(7) .video-info .counter .video-date {
                            -ms-flex-align: start;
                            -ms-flex-pack: end;
                            -ms-grid-column: 2;
                            -ms-grid-row: 1;
                            -webkit-box-align: start;
                            -webkit-box-pack: end;
                            display: flex;
                            grid-area: Date;
                            align-items: flex-start;
                            justify-content: flex-end;
                            width: 100%;
                            font-size: 0.8em;
                        }

            body main .popular-videos .video-content .video-cards:nth-child(8) {
                -ms-grid-column: 4;
                -ms-grid-row: 2;
                grid-area: Video8;
            }


                body main .popular-videos .video-content .video-cards:nth-child(8) .video-info {
                    height: 100%;
                    padding: 0.5em 0.5em;
                    line-height: 1.4em;
                }

                    body main .popular-videos .video-content .video-cards:nth-child(8) .video-info .video-title {
                        grid-area: Title;
                        font-weight: 700;
                    }

                    body main .popular-videos .video-content .video-cards:nth-child(8) .video-info .video-author {
                        grid-area: Author;
                        padding-top: 0.5em;
                        padding-bottom: 0.2em;
                        font-size: 1rem;
                        font-size: 0.9em;
                    }

                    body main .popular-videos .video-content .video-cards:nth-child(8) .video-info .counter {
                        -ms-grid-columns: auto;
                        display: -ms-grid;
                        display: grid;
                        grid-area: Counter;
                        grid-template-areas: 'Views Date';
                        grid-template-columns: auto;
                    }

                        body main .popular-videos .video-content .video-cards:nth-child(8) .video-info .counter .video-views {
                            -ms-flex-align: start;
                            -ms-flex-pack: start;
                            -ms-grid-column: 1;
                            -ms-grid-row: 1;
                            -webkit-box-align: start;
                            -webkit-box-pack: start;
                            display: flex;
                            grid-area: Views;
                            align-items: flex-start;
                            justify-content: flex-start;
                            height: 100%;
                            font-size: 0.8em;
                        }

                        body main .popular-videos .video-content .video-cards:nth-child(8) .video-info .counter .video-date {
                            -ms-flex-align: start;
                            -ms-flex-pack: end;
                            -ms-grid-column: 2;
                            -ms-grid-row: 1;
                            -webkit-box-align: start;
                            -webkit-box-pack: end;
                            display: flex;
                            grid-area: Date;
                            align-items: flex-start;
                            justify-content: flex-end;
                            width: 100%;
                            font-size: 0.8em;
                        }
